[2019-05-30 09:08] Nonikka commented on #158
This is very useful！ I have another question, what does the "ss","ms" mean in the "post-filtered", and also the "dds","dgss" in "separated"?
Thanks again.

[2019-05-30 09:18] Nonikka commented on #150
If you are talking about the separated file or post-filtered file,you can play the raw files by audacity,file-> import-> raw data, and chose your channel number , sample rate, and little-endian,signed 16 bit PCM.(works in master branch)

[2019-06-03 01:16] #158 closed

[2019-06-03 07:11] Nonikka commented on #158
Actually, I think that the most useful to the separation is the post-filter.The post_filter have two ways,ss and ms.the ss is one channel and ms is mutli-channel.the ms is much better than ss.In the ms,the odas use mcra and reduce the leakage from other output channel.And more,it gives a suppression rule in teh presence of speech.

[2019-06-12 13:56] seanernestmurray opened #159 "Mapping program and channel streams"
Hello!

I'm currently tracking up to 4 sources, using an 8 mic configuration of the 16 sounds USB and am looking to obtain the tracked data and separated audio of each source together in real-time. If I'm tracking 4 sources, should I expect 4 channel streams in the raw separated/post-filtered audio?

Issue #79 indicates that there is a direct mapping of the SST data and the channel streams based o

[2019-06-12 14:35] seanernestmurray commented on #159
Also, is the tool that can write each separated source to a file with the corresponding id in the name, referenced in #79, available?

[2019-06-14 01:55] debeyzh51 opened #160 "Source Separation Seeeds for Noob"
I am attempting to do source separation using an array using Odas.
I am very new to using systems like this and am hoping there is either a simpler way or a better source of info than the wiki (which I have been using)
Hardware: RaspPi 3B+ and a Seeeds Mic array V2.0
So far: I have loaded all libraries and installed the Odas library. I then installed nodejs and electron in prep for downloading Oda

[2019-06-17 20:08] Mirko-von-Leipzig opened #161 "Multiple spatial filters"
Is it possible to specify multiple spatial filters?

The configuration file seems to allow; but I am not understanding how they are interpreted.

I am trying to focus on a specific arc in the x-y plane, while still filtering out floor reflections. I thought I could do this by specifying two spatial filters, which would then be concatenated; but I am not getting the expected results. I may also be

[2019-06-18 18:55] Mirko-von-Leipzig commented on #161
Okay I figured out what I was misunderstanding. The filters are cones - the direction specifies the center vector of the cone, and the angle describes the "radius" of the cone in terms of the main audio sphere.

[2019-06-18 18:55] #161 closed

[2019-06-23 23:48] albertmend commented on #91
Did you find the problem?

[2019-06-26 18:27] FrancoisGrondin commented on #159
Hi there!

Sorry for the late reply. I have a few questions:

1) Are you using the ODAS version in the master branch?
2) If I understand properly, your goal is to write each separated stream to a file with the corresponding ID?

Best,

[2019-06-27 10:54] seanernestmurray commented on #159
Many thanks for your reply!

1.
Yes, I'm currently using the ODAS version in the master branch. On the sink end, I've edited a program from the tools directory of the phoenix branch in order to receive the sst data on port 9000 and publish it onto a ROS topic, which seems to be working. The idea is to have both the tracking data and separated audio easily accessible for each source, on ROS.

2.
In

[2019-06-28 07:36] 11721206 commented on #13
@taospartan jamesshao8 hello. can you give some tip for beamforming based on oda？and show the result after for beamforming. thanks

[2019-06-28 07:36] 11721206 commented on #13
@taospartan @jamesshao8 hello. can you give some tip for beamforming based on oda？and show the result after for beamforming. thanks

[2019-06-29 15:41] FrancoisGrondin commented on #159
Oh ok! So you have the stream but what you are missing is a way to push it to a wav file, correct? I suppose the problem now is that you'd like to generate the proper headers for the wave file?

[2019-06-30 07:23] mikoga opened #162 "short impulses and display filter"
Hi!
Thanks in advance for answering, the product and the forum is great!
I have 2 questions:
1. How to configure odas to recognize short impulses? (such as hand clapping for instance)
2. In SST module, make odas display to terminal only data with the 'activity' parameter bigger than 0? (besides a script that filters it afte displaying... if it can be configured in config file that'd be great!)
Tha

[2019-06-30 15:53] FrancoisGrondin commented on #162
Hi!

1. ODAS can localize short sounds like clap, but the tracking system usually removes short time events to avoid false detection when we want to track speech sources only. To have ODAS detect short time sound events, try to set this parameter in the SST section to this value:

`N_prob = 1;`

2. For now we always display all "slots" of the tracking results. Like you said you can have a script t

[2019-07-01 15:23] seanernestmurray commented on #159
No, not quite. The goal is to not to push the channels to a wav file - instead, we'd like to separate the channels and stream them in real-time. Do you know if there is an efficient way to do this?
I was thinking that the best way might be to augment the code file you referred to in #79, since it would seem that in this program you are exposing each of the separated channels.

[2019-07-04 06:30] deepchand41 opened #164 "Error in "npm install""
Hello @GodCed
After cloning the odas_web, I am getting error as shown in below figure while running "npm install " in the base folder.
![Screenshot from 2019-07-04 12-04-24](https://user-images.githubusercontent.com/35799359/60644136-e650b080-9e54-11e9-932e-0ad55c7289d1.png)

My npm version is 6.9.0
and node version is v12.5.0
It will be a great help if you reply.
Thanks in advance!!!

[2019-07-04 14:02] GodCed commented on #164
Hi, I'm not sure what's going on here. You seem to have all the proper versions... From what I see the grpc module failed to build for electron which is unexpected with the correct versions installed.

I changed the way it is installed in the package.json file (from installing with default node runtime then rebuilding for electron to directly installing the proper binary for electron). Can you try

[2019-07-08 14:43] FrancoisGrondin commented on #159
Hey there, sorry for the delay.

I will try to write a simple code here that hopefully can get you going to fix this issue:

1) As you know, you have a track signal with the following structure:

[code]
The `ids` array is made of `nTracks` unsigned long long elements. This is what matters here for our code.

2) Then, the hop signal has the following structure:

[code]
The array `array` is made of

[2019-07-09 16:02] seanernestmurray commented on #159
Hi,
Many thanks for your thorough reply!

The only thing I am still uncertain on is how to get access to the track/hop variables (ids, float ** array, etc...) in the first place? Should I parse the track/hop signal data from the sss sockets, create a src_hop_obj, or are they accessible elsewhere?

All else seems to make sense. Thanks again.

[2019-07-09 16:19] FrancoisGrondin commented on #159
You have two options: you can either access the track/hop directly within the C code, or you can send the track message as a JSON via the socket, and the separated stream as a RAW signal via the socket. If you decide to proceed via sockets, then you'll have to do some parsing (can be done with outside ODAS then) at the other end to extract the proper information.

[2019-07-09 16:53] seanernestmurray commented on #159
I am now correctly parsing the track message via a socket, so that isn't an issue.

I am unclear on parsing of the RAW separated stream signal. In each frame that is received through that socket, do the first 2 bytes correspond to the _unsigned int nSignals_, the next 2 bytes correspond to the _unsigned int hopSize_, and so on?

Once those values are parsed, the rest seems clear to me.

[2019-07-09 17:24] FrancoisGrondin commented on #159
No, so in the case of the RAW signals, you get only the samples, which are interleaved, which corresponds to a typical RAW format that you could use with Audacity for instance. You can infer `nSignals` from the track message `nTracks` parameter, which corresponds to the number of slots.

If you are outputting the RAW in 16 bits, then the function `snk_hops_process_format_binary_int16` gets called

[2019-07-10 18:35] andycavatorta opened #165 "changing the tracking behavior using the config"
Thank you for creating and sharing this impressive code!
Where can I find more information about the config values for SST and SSS?
I am using ODAS to locate relatively static human voices that are close together.  ODAS is tending to create one source and slowly track it from person to person.  I need to make ODAS either track one source quickly or create separate/new sources for each person.  I d

[2019-07-10 19:35] FrancoisGrondin commented on #165
Hi Andy,

So what you may want to do, provided that you're using the Kalman filter, is to reduce the value of sigma_Q^2, which corresponds to the variance of the velocity state. If this value is very small (or zero), then the source cannot really move over time, and this should prevent switching from one source to the other.

In the config file, you can simply change the following value (I think t

[2019-07-10 19:42] #156 closed

[2019-07-10 21:59] annetteb3 opened #166 "using "interface" in matrix_voice.cfg"
hi all,
noticed there was no information on interface configuration in the wiki and i looked through several of the threads to see if anybody was having the trouble i am; I am trying to get the audio that odas is processing to another device via gstreamer. I have the device's ip and port that it's listening through but no luck....

I was wondering if there's some steps i need to take to stream tha

[2019-07-10 22:13] andycavatorta commented on #165
That did it.  Actually, increasing the value produced the result I wanted.  Thanks!

[2019-07-11 12:55] FrancoisGrondin commented on #165
Ok great! I'm still a bit confused why increasing the value works... I guess it really depends on the dynamics of your system

[2019-07-11 13:05] seanernestmurray commented on #159
Ah of course, that's all clear now. Many thanks for all your help :)
Cheers,

[2019-07-11 13:12] FrancoisGrondin commented on #159
Glad it helped!

Cheers

[2019-07-11 13:12] #159 closed

[2019-07-11 13:14] FrancoisGrondin commented on #166
Hi there,

I'm not familiar with gstreamer: can you provide the framework with RAW audio data?

[2019-07-12 09:16] dangpnh commented on #143
@francoisferland
Sorry in case there're multiple files, how do I set the raw configuration to receive all of them?

[2019-07-12 13:16] francoisferland commented on #143
Hi @dangpnh, I am not very familiar with ODAS, but you will get better information from @FrancoisGrondin.

[2019-07-12 16:22] annetteb3 commented on #166
I'm not entirely sure what is meant by tha question (I also am in a bit over my head) here is a link with more details. The short version however we use a UDP connection to stream raw audio between our two devices.

[2019-07-12 16:56] annetteb3 commented on #160
having a similar issue....did you figure it out at all yet?

[2019-07-13 06:16] MohamedSamiGamalElden commented on #164
try to install node10.x on your OS. It works with me.
https://github.com/nodesource/distributions/blob/master/README.md

[2019-07-14 16:16] annetteb3 commented on #166
would i need to open another port in the matrix-odas cpp file?

[2019-07-14 18:33] annetteb3 commented on #166
Actually you can forget my gstreamer question......the audio is too degraded...but i am still wondering how to stream the audio from sss in real time. I sent the audio to files and it was a horrible long beep and static.

[2019-08-01 12:57] jake266637 opened #167 "Inaccurate tracking above 65 degree elevation"
When performing some accuracy testing on the matrix creator using the ODAS software I noticed that above 65 degrees the software latched onto this very quiet noise (potentially not from a physical source). This sound isn't loud enough to trigger the tracking by itself but can cause the software to continue tracking in that direction for a long time after the initial sound. When the software is lat

[2019-08-01 23:15] FrancoisGrondin commented on #167
This is strange. Do you think you could provide us with some RAW recordings and the config file you are using?

[2019-08-01 23:32] jake266637 commented on #167
[raw audio.zip](https://github.com/introlab/odas/files/3459030/raw.audio.zip)

active mu was between 0.1-0.35 and inactive mu was usually 0.05 less than that. N_inactive is at 15.

[2019-08-04 11:06] nxdefiant commented on #166
Sounds more like you got number of channels, audio format or the rate wrong. For the record in the sss configuration one can use interface type=socket. Gstreamer should be able to receive that with the tcpserversrc element.

This is the pipeline that I just successful tested with (it will only play the first channel/first separated sound source):
`gst-launch-1.0 tcpserversrc host="0.0.0.0" port=10

[2019-08-07 21:07] Greendogo commented on #33
Hey there, I was wondering if there was any progress on this yet.  The new Azure Kinect DK has a 7-mic array and there's no API or SDK to use it, so ODAS is really well positioned to be used for this, except it doesn't work on Windows yet.

[2019-08-09 05:03] nxdefiant commented on #136
I did not fully understand your post, but I think I have a similar problem. I was running odaslive with separated raw sss output. In about* one hour the .raw file increased by 464515072 bytes.
With 16 Bits, 4 channels and a rate of 16kHz after one hour I expect the file size to be 2*4*16000*60*60=460800000 bytes.

That is a difference of 464515072/460800000 = ~1.008

* Manually measured with only

[2019-08-09 14:23] FrancoisGrondin commented on #136
I'm not sure I understand...

@jake266637 What exactly do you mean by recording a sound in odas?
@nxdefiant What do you mean exactly by "running odaslive with separated raw sss output"?

[2019-08-09 14:54] nxdefiant commented on #136
I meant this in my odaslive config:
[code]

[2019-08-10 15:28] Elvis1613 opened #168 "ReSpeaker_Mic_Array_v2.0 didn't work"
Hello
Thanks for developing this nice tool.
I'm trying to do a project that use a circular microphone array to DOA. And I connect the microphone array with computer and run ODAS_WEB and ODASin Deepin, but it didn't work.
My config file like this,it't according to your sample.

[code]
Interface:

![深度截图_选择区域_20190810232143](https://user-images.githubusercontent.com/13428288/62823641-ab653980-bbc5-1

[2019-08-10 15:29] Elvis1613 commented on #168
which part of the code in ODAS_CORE and ODAS_WEB should I modify?
Thank you

[2019-08-10 15:33] Elvis1613 commented on #168
BTW  I use respeaker 4 mic array with computer

[2019-08-10 15:39] nxdefiant commented on #168
Maybe include your full config. Also why don't you use the odas.cfg from http://wiki.seeedstudio.com/ReSpeaker_Mic_Array_v2.0?

[2019-08-10 21:33] bartengine27 opened #169 "respeaker seeed"
Dear,

  I managed to install and configure odas and odas-web. After enabling "separated audio", I get audio files like
[ODAS_140_2019-8-10_23-27-9-79_pf.zip](https://github.com/introlab/odas/files/3489304/ODAS_140_2019-8-10_23-27-9-79_pf.zip)
  Any idea what might go wrong?

Thanks,
Bart

[2019-08-11 04:33] Elvis1613 commented on #168
`
# Configuration file for XMOS circular sound card

version = "2.1";

# Raw

raw:
{

    fS = 16000;
    hopSize = 128;
    nBits = 16;
    nChannels = 6;

    # Input with raw signal from microphones
    interface: {
        type = "soundcard";
        card = 1;
        device = 0;
    }

}

# Mapping

mapping:
{

    map: (2, 3, 4, 5);

}

# General

general:
{

    epsilon = 1E-20;

    size:

[2019-08-14 16:53] Mopele opened #170 "Processing audio in ODAS"
Hey,
I would like to kind of use ODAS to get the DOA for a wav file in an iterval of 0.5sec. Would that be possible with ODAS. Or is there a way to save the data from the graphs to use them later on in, for example a machine learning project?
Kindly,
Moritz Pfennig.
PS: I am really a noob...

[2019-08-14 17:05] bartengine27 commented on #170
yes, you can, check the config of the SSS and record sections on https://github.com/introlab/odas_web

[2019-08-14 17:15] Mopele commented on #170
Ok, but I am not familiar with js so is there maybe a way to implement it into python? If not, is there a more in depth wiki of the odas project, because as i see it there is ne real explanation of how to accualy save some data from the analytics right?

Btw thanks for the fast response @bartengine27

[2019-08-15 02:17] jake266637 commented on #136
I believe I made a sound file in audacity that had impulse sounds in it, ODAS said the pulses were further apart than they actually were. This was nearly a year ago now so I can't exactly remember but I do know that the stretching effect was apparent and equal to approximately 1.008 which is the same value nxdefiant found.

[2019-08-18 12:50] Mopele opened #171 "starting odas Error Sink pots"
Hey, I try to run ODAS like this: .`/odaslive -c ../config/odaslive/respeaker_4_mic_array.cfg`.
My error looks like this: `+--------------------------------------------+
|    ODAS (Open embeddeD Audition System)    |
+--------------------------------------------+
| Author:  Francois Grondin                  |
| Email:   francois.grondin2@usherbrooke.ca  |
| Website: introlab.3it.usherbrooke.ca

[2019-08-19 04:52] jake266637 commented on #167
Here is the config file. @FrancoisGrondin
# Configuration file for MATRIX Creator Raspberry Pi shield

version = "2.1";

# Raw

raw:
{

    fS = 48000;
    hopSize = 512;
    nBits = 16;
    nChannels = 8;

    # Input with raw signal from microphones
    interface: {
        type = "soundcard";
        card = 1;
        device = 0;
    }

}

# Mapping

mapping:
{

    map: (1, 2, 3, 4, 5, 6, 7, 8

[2019-08-25 10:57] #170 closed

[2019-08-25 10:57] #171 closed

[2019-08-26 09:21] MaulikSS commented on #121
@xiongyihui @FrancoisGrondin @SethWelday What would be a good resource for me to procure the config file for the ReSpeaker Core v2.0 and also understand how to use it along with ODAS? I've checked @xiongyihui's repo mentioned above, and it has a config for the 6-mic array. Can the same config be used with the Core v2.0? Also, @FrancoisGrondin is there any documentation on how to use the odaslive l

[2019-08-26 16:23] nxdefiant commented on #121
Doesn't the config file from the [pull request](https://github.com/introlab/odas/pull/72/files) work for you?

[2019-08-28 13:43] MaulikSS commented on #121
@nxdefiant Thanks, that config worked for me.
However I am getting suboptimal sound recordings. I'm still trying to debug that issue, and will post an update here. If you have any suggestions, please let me know. (I've located a similar issue posted here).

Another question @FrancoisGrondin, I am facing the abrupt crashing of odaslive on the ReSpeaker Core v2.0, with ODAS studio being run on my PC

[2019-08-29 10:55] raikarsagar commented on #145
Hi, When can we expect the new version to be released? Also could you please provide any reference for the parameters defined in config file.(description about each parameter)

[2019-08-29 21:09] FrancoisGrondin commented on #145
We don't have a release date yet. There is a wiki however that explains the parameters:

https://github.com/introlab/odas/wiki/Configuration

[2019-09-03 18:57] lukeseed opened #172 "Beamforming Vector application"
Hi.

I think this issue is pretty simple but I don't have enough definition of how odas relates vectors to areas (if it does at all).

I'm trying to use ODAS, with a respeaker 4 mic array, to separate ambient sounds coming from (4) four quadrants above the mic plane.  I believe this can be done by using the fixed spatial filter (Issue #19) to remove all sounds from below the mic plane, and then us

[2019-09-03 20:52] lukeseed commented on #172
@taospartan any suggestions here based on your experiences with odas?

[2019-09-03 21:06] taospartan commented on #172
It’s been a while... but the static targets that are given using vectors , are just that, they don’t relate to the quadrants of the hemisphere.

Hope that helps

Sent from my iPad

[2019-09-03 21:15] lukeseed commented on #172
@taospartan thanks.

Any thoughts on this @FrancoisGrondin ?  I'm having a hard time understanding how to beamform with odas. Maybe it doesn't work like how I'm thinking it could.

[2019-09-05 21:01] albertmend opened #173 "Sound source separation output to buffer"
Hello, I am using ODAS in a Matrix Voice Microphone Array and a Raspberry Pi 3. I am sending the data to Odas Studio in another Linux computer. I would like to send the data from the separated sources in real time to another linux computer via IP and port. Just changing the interface type does not seem to work. Is this possible?

[2019-09-08 20:49] FrancoisGrondin commented on #172
Hi Luke,

So far the static source points to a specific direction, and not an entire quadrant. But you could just let ODAS detects automatically a source in this region, and then do beamforming, instead of using a static source. Is this something possible for your application?

Cheers,

[2019-09-08 23:19] lukeseed commented on #172
Hi @FrancoisGrondin ,
Thanks for the response! I'll try to explain what I'm trying to do specifically and then perhaps you could explain how to go about it or if ODAS is the best solution.

We are working on an audio detection system that would 1) reject ambient noise coming from behind a planar microphone array (which we know is all extraneous to us), 2) listen for and detect a specific set of tr

[2019-09-09 01:22] FrancoisGrondin commented on #172
Hi Luke,

So if I understand, all the microphones lie on the same 2D plane? If so, you have a front-back ambiguity, which means without microphones in the 3rd dimension, the system cannot tell if a source comes from the front or the back, and thus cannot distinguish your target from noise.

What do you mean by a quadrant of the hemisphere?

So you want to trigger on non-stationary sounds, but excl

[2019-09-09 16:28] lukeseed commented on #172
Francois,

So yes, I am currently using the reSpeaker 4 mic array and am aware that a 3d array allows for rejection of signals that would otherwise be pole ambiguous (though was hoping to avoid this more complicated hardware development sequence).

Yes, machine learning would be apart of our development of this solution.  My question is, where would I cut this in with Odas? i.e, where would I impl

[2019-09-10 14:54] hangxiu opened #174 "We would like to run the ODAS without actual microphone array, how to use it, please!"

[2019-09-12 16:38] Mopele opened #175 "Can i plot the data from the JSON?"
So I saved the ssl and sst in a JSON, but your documentation doesnt state, what the datapoints are.
Could you maybe give some more Info on how to effectivly plot the data and maybe also how you can plot it like in odas_web.
Thanks for the help!

@FrancoisGrondin

[2019-09-13 14:37] Junye97 commented on #174
You can record the audio and save it to a .raw file. The ODAS can be configured to accept .raw file as source interface rather than soundcards. Please have a look at the [ODAS Configuration Wiki](https://github.com/introlab/odas/wiki/Configuration). The provided example uses .raw source config.

[2019-09-13 14:39] Junye97 commented on #143
@dangpnh
I got around this problem by converting multiple single track .raw files into a single multi-track .raw file using MATLAB (since audio recording softwares like Audacity does not support exporting multi-track .raw files.... strange). I'm sure there must be much simpler ways so please let me know if you figure out other solutions...

[2019-09-14 19:37] #174 closed

[2019-09-14 19:40] FrancoisGrondin commented on #175
Ok, so the localization return potential sources, with their respective x,y,z coordinates, and the associated energy level E. These sources are not necessary *real* sources, as the filtering operation in the tracking block is required to avoid false alarms and smooth the trajectories over space and time. The tracked sources return x,y,z coordinates, with a unique ID for each source to keep track o

[2019-09-14 19:45] FrancoisGrondin commented on #172
In this case ODAS already does DOA calculation and signal tracking as you know. My feeling would be to perform sound classification on the separated signal after beamforming. Keep in mind however that beamforming enhances the signal, but does not lead to perfect sound separation. So in the case you have 2 different signals that interfere with each other, the classification system could misclassify

[2019-09-14 19:48] FrancoisGrondin commented on #169
Sounds like you signal is clipping because the gain is too high. Try reducing the gain and tell me if it helps.

[2019-09-14 19:50] FrancoisGrondin commented on #167
I notices recently some hardware have improper phase calibration between their channels (maybe due to the way the codec samples turn by turn each input). This might explain this. I'll try to make a calibration tool to fix that in the near future. Cheers.

[2019-09-14 20:22] lukeseed commented on #172
I will email you Francois thank you for the help.

If you wouldn't mind printing me in the direction of how to establish
generic signal recognition I would appreciate it. All examples I have seen
are based on human voice detection (mostly around vad webrtcvad)

Thanks

Luke Seed || mobile

On Sat, Sep 14, 2019, 12:45 PM François Grondin <notifications@github.com>
wrote:

[2019-09-17 20:34] ChrisCJou opened #176 "Slow-Mo Recordings"
Thank you all for creating this project!

I am currently working on a personal project with a Respeaker Core v2 Microphone and I am using a slightly modified configuration from https://github.com/xiongyihui/odas/blob/master/config/odaslive/respeaker_6_mic_array.cfg

However, I have having an issue when recording as the wav files that are being recorded come out with a sample rate of 16000Hz, howev

[2019-09-19 15:46] ChrisCJou commented on #176
Ah, I see what I was doing wrong. In the ODAS Studio side, I had not changed the config sample rate as well.

I did have a separate question unrelated to this issue. Please let me know if I should open a new thread instead.

In the SSS section, for mode_sep and mode_pf, what do the different mode types mean and how will they affect the resulting audio files? Thanks!

[2019-09-23 15:02] hangxiu opened #177 "Running demo"
How can I run an demo, please?
How can I run the speech separation module locally,

[2019-09-23 17:37] #172 closed

[2019-09-24 15:33] #176 closed

[2019-09-30 19:07] MauroPfister opened #178 "Windows support"
Hi,

I was wondering if there are any plans to support Windows in the near future? I found this issue (http://www.fftw.org/install/windows.html) but it seems to be closed, that's why I opened another one.

Thanks!

[2019-10-02 09:15] binkjakub opened #179 "Getting audio signal via socket"
Hello,
I'm wondering if it's possible to read input audio signal from microphones, while doing localisation. I want to get audio signal via socket in real time, however tries with configuring _postfiltered_ or _separated_ sections didn't give me reasonable signal (signal is full of zeros). So could anybody please provide me information whether getting audio from ODAS is possible (and how to proper

[2019-10-07 16:59] MauroPfister opened #180 "SST socket output"
Hi,

I wrote a little python script with a socket server to receive the SST data streamed by odaslive via a socket client. During some tests I noticed that with a buffer of 2048 bytes (actually down to  1,567) I receive a string containing 4 times timestamp + src data as shown below.  When I lower the buffer size I only receive junks of the SST data but never a complete json with timestamp + src d

[2019-10-09 07:59] kirakowalska opened #181 "Stationary tracked source in microphone direction"
Hi,

I have deployed odas and odas_web and can successfully track a moving sound source.

However, there is constantly a stationary tracked source with high energy level corresponding exactly to the microphone direction (in my case direction (0,0,1)), even in a quiet room.

Is this an artefact of background noise? How can this be removed?

Many thanks,

Kira

[2019-10-11 15:41] FrancoisGrondin commented on #181
This is strange. What hardware are you using?

[2019-10-11 15:54] FrancoisGrondin commented on #180
Typically when you send multiple messages back to back to a socket, you can't guarantee they will be received individually when you read the socket.

[2019-10-12 13:49] pcub commented on #180
Hello, Im using input.raw instead of sound card in odas. However, when I run odaslive then tracks.txt file was generated. However, all x,y and z values are zero as shown above sample. Does this mean odas did not detected source direction?

[2019-10-15 07:40] Junye97 commented on #180
@pcub I'm not sure about the sst output since I am also trying to figure it out, but I can spot some other issues with your config file:
1. Most of your output interface are "blackhole" so I reckon you wouldn't see anything at all.
2. For the input file path, I would suggest you put the full file path, e.g. `/home/user/odas/bin/input.raw`, and the same for the outputs. If you don't put the full pa

[2019-10-15 11:05] pcub commented on #180
Thanks Junye97, I will test that.

[2019-10-15 11:57] Junye97 commented on #180
@pcub please share your findings with the SST output.... I am still investigating what went wrong with my config. Thank you

[2019-10-16 15:22] MauroPfister commented on #180
Yes, I figured that out while reading up on TCP sockets. I ended up rewriting the javascript code of odas_web in python to parse the incoming json data. The parsing function can be found at https://github.com/introlab/odas_web/blob/66fda0dae550e87afe065e2eeb21152ea6ea1ddc/servers.js#L31-L71. I thought this might be useful to others.

[2019-10-16 15:26] pcub opened #182 "Cannot obtain SSL result on simulated audio signal"
Hello, I'm testing odas sound source localization (ssl) with simulated audio signal.
First, I saved ssl result in json file (for example potential_ssl.json). Using python script, I read the json file and converted x,y,z and e values to elevation and azimuth degs using code written in odas_web/graph.js. When I plot the azimuth and elevation angels, I wasn't able to obtain ssl result on azimuth. I t

[2019-11-01 18:40] yihanhu97 opened #183 "Need help with saving audio input from individual microphones on Matrix"
Hey guys, I've been using ODAS library for a research project for a while now and we would like to collect more data.

Right now we are collecting the audio input generated through ODAS. e.g. 'separated.raw' & 'postfiltered.raw'. I understand that ODAS takes the individual audio input from 8 microphones on Matrix and then generates a combined audio file like just mentioned. For this research, we w

[2019-11-04 15:29] ajaygunalan commented on #171
Hey,

I'm also having the same issue. How did you solve it?

[2019-11-04 15:42] Mopele commented on #171
You have to start the odas live first. So you open the odas GUI interface and then start the odas client. The explanation is, that you have to have the odas server running to connet to it via the sockets of the odaslive command. If you dont want to use a odas server then have a look in te odasconfig for the respeaker. If you have any more questions just ask ;-)

[2019-11-18 02:45] jake266637 commented on #167
Hello @FrancoisGrondin

I was wondering if there was any progress on this issue yet and also if you could suggest some parameters I could change to improve the localisation of more impulsive sounds in a noisy environment (dog barks outside). I find that the DOA accuracy is only accurate if the dog bark is the sound that actually triggers the recording on one of the 4 channels.

[2019-11-28 22:21] bartengine27 commented on #169
Thanks for the feedback!

Turned out to be the "Sample Rate" setting in ODAS Studio under "Configure". After changing the default  16000 to 44100 the audio improved.

My config:
`
    separated: {

        fS = 44100;
        hopSize = 512;
        nBits = 16;

        interface: {
             type = "socket"; ip = "192.168.1.198"; port = 10000;
	     #import in audacity as raw data with
	     #s

[2019-11-28 22:22] #169 closed

[2019-12-07 14:58] BlueInf opened #184 "Specifying certain frequencies?"
Dear odas developer community,

Could you specify which frequencies you want to detect in the configuration file?

Best regards!

[2019-12-23 02:30] OrangeBaoWang commented on #22
when will ODAS support the Automatic Gain Control  features ?

[2020-01-05 16:20] emil2099 commented on #183
I wonder if this repo is active, as the project is quite amazing.

I also need to save individual input channels for a project. Is this possible?

Thanks!

[2020-01-05 22:51] FrancoisGrondin commented on #183
Hi there,

The project is still active :) I'm now starting a new position as a university professor, which will provide me with more time to work on ODAS and get students involved. The current version was released as beta, and we've received a lot of comments and suggestions. We could also eventually include some deep learning algorithms to make the system more up to date with the latest methods.

[2020-01-07 09:26] hasagar97 commented on #155
It would be great if this type of documentation is available, it would be easy to build more on this project.

[2020-01-12 17:36] yihanhu97 commented on #134
Hi were you able to figure out the difference between postfiltered and separated? Thank you

[2020-01-12 20:01] yihanhu97 opened #186 "Postfiltered channels vs. SST Log"
Hi, I was able to decode postfiltered raw files using Audacity and also save the SST log file for the same period of recording. And after reading some of the issues posted here, I understand that in the log file, each id (tracked sound source) matches the channel. And here is the question that I have encountered.

At the following timestamp, the first tracked source is inactive (a probability of 0

[2020-01-14 15:48] ajaygunalan opened #187 "I get only the activity of energy in a particular direction but I want to listen to the audio in that direction."
You have mentioned that it is possible to record the sound in a fixed direction [here](https://github.com/introlab/odas/issues/158) and also that it is possible to change the directions via sockets dynamically [here](https://github.com/introlab/odas/issues/14). (not yet implemented though).

The issue is:
1. when I try to record the sound in a fixed direction. **I get only the activity of energy i

[2020-01-14 15:51] ajaygunalan commented on #155
yes, totally agreed..!

[2020-01-15 07:43] dianalow opened #188 "odas quits after 1 timestamp"
Hi,
I'm new to ODAS, and using a UMA-8 microphone in Ubuntu. I got odas to execute without errors, but now it seems to quit after 1 timestamp.
[code]

the only change i made to the minidsp.cfg is the card number.
[code]

[code]

[2020-01-16 10:26] hasagar97 opened #189 "Using "Static" in sst causes Segmentation fault."
Hi,
I am using odas with ReSpeaker 4-microphone array for raspberry pi, when I use SST with "dynamic" it works fine, but when I use it with "static" it crashes due to segmentation fault.
PFA my config file

[respeaker4mic_arr.cfg.txt](https://github.com/introlab/odas/files/4070622/respeaker4mic_arr.cfg.txt)

[2020-01-16 10:32] hasagar97 commented on #189
Okay, after changing the target to
[code]

[2020-01-16 13:55] FrancoisGrondin commented on #189
Hey there,

I think you forgot a semicolon before the z variable.

Lemme know if it solves the issue

Cheers

[2020-01-16 13:56] FrancoisGrondin commented on #188
You mean the behavior of ODAS changed over time with the same configuration file unchanged?

[2020-01-16 14:00] FrancoisGrondin commented on #187
Hi,

1. To get the audio from that direction, you need to use the sound separation module.
2. You should not change the values of the parameters live, because once the system is initialized, it does not access these values anymore (mostly for dynamic memory allocation purpose). However, if you look at the "target" message, you can update the target over time to listen in a specific direction. Ther

[2020-01-16 14:05] FrancoisGrondin commented on #183
I think this is not possible in this version (that's a shame...) but you could probably access the raw data loaded by the corresponding source module and just "dump" it in a file. If you look at this line:

https://github.com/introlab/odas/blob/master/src/source/src_hops.c#L363

You could dump the buffer in a file. That's a hack... I'm coding the new version and it would be much easier in the new

[2020-01-20 08:43] hasagar97 commented on #189
Hi,
I have updated the file and the problem still persists. Until and unless I keep z>=0.15 (I found this by trial and error) the program(odaslive) crashes due to segmentation fault.

But I can work with this much amount of error(0.15m is not much),
Thanks for the help.

[2020-01-20 14:58] ajaygunalan commented on #187
Hi Francois,

Thank you for the reply.

I used the sss module. But, in static mode, I couldn't hear any audio. Only in dynamic mode, I was able listen.

This is the [config file](https://gist.github.com/ajaygunalan/c4ea692d70f8f08f32a63adb0291eaef). As said by you, I only change `add` to `dynamic` and comment out `myTarget` when used in dynamic mode.

You can find other files files such as the `se

[2020-01-22 07:45] pgwizardofoz opened #190 "ReSpeaker 4-Mic Linear Array config"
Hello,
I have a ReSpeaker 4-Mic Linear Array (http://wiki.seeedstudio.com/ReSpeaker_4-Mic_Linear_Array_Kit_for_Raspberry_Pi/) and the config below. It seem to work however I am not 100% sure the config is actually correct since I should probably have 8 mappings.

Does anyone use the same microphone array to compare the config?

Thanks

`# Configuration file for ReSpeaker 4-Mic Linear Array

versio

[2020-02-05 05:45] davidtu93 opened #191 "Using GPIO 14 and 15 (uart tx & rx) with gps"
Hey,
I want to attach a gps module, using this guide [here](https://sparklers-the-makers.github.io/blog/robotics/use-neo-6m-module-with-raspberry-pi/), onto the device. I had a look around and found that I had to the route the expansion pins on the matrix to the raspberry pi GPIO, using FPGA and this guide [here](https://www.hackster.io/matrix-labs/get-started-with-fpga-programming-on-matrix-devic

[2020-02-05 14:40] melkobrodov opened #192 "incorrect start of recordings"
Hello I have some problem with using odas. For some reasons recordings of speech starts after few milliseconds, that's cause the problem of missing part of first words.

[2020-02-07 19:45] ShawnHymel opened #193 "Acting on raw audio data"
I'm trying to implement something that listens for an event in the raw audio stream and then notifies the interface via JSON flag.

For example, let's say that I have something in src_hops_process_interface_soundcard() that looks for raw values over a certain threshold. How would I set a custom flag in the JSON object going out to the server?

The best I could see as per [#77](https://github.com/i

[2020-02-08 01:14] davidtu93 commented on #191
It turns out that it was an issue with the pi and power supply

[2020-02-08 01:14] #191 closed

[2020-02-12 04:43] ariga98 commented on #187
Hello,

I was wondering if you had any progress in tracking audio sources in real time. If you have found any other threads that address this issue, or any found any other tips regarding the application that would be greatly appereciated!

Thanks

[2020-02-13 13:09] ajaygunalan commented on #187
Hey,

The Microphone Array Configuration was wrong in my config file. When I changed them,It works. But, only in Dynamic mode. Not able to listen to specific direction. (Static Mode). Not sure, what is the issue.

[2020-02-26 10:04] marcus905 commented on #180
Sorry for the off-topic post, but I'm having some of the same issues and I can't seem to find a good source of documentation on how odas works, except reimplementing odas_web.

@MauroPfister by any chance is your python code that decodes the odas output available to read or open source in any way?

Thank you!

[2020-02-27 16:50] ariga98 commented on #106
Hey! Was this ever fixed or updated?

[2020-03-01 10:51] anrzej96 opened #194 "Beamforming and spatial Filter"
**I would like to record only this, what is below the Respeaker (z=1, scope 5 degrees).
Is it possible?**

Hi everyone,

I'm new here and I'm bothering with some problem for long time.
I'm trying to use odas and odas_web to help me finish my bachelor degree.
Basically, I'm trying to check if it's possible to recored audio using 4-Mic Array Reaspeaker for Raspberry-Pi attached to a drone.  Raspberr

[2020-03-03 08:39] leejaeuk opened #195 "Added more source target?"
Hi!
I'm very thank for your useful source code.

I tested ODAS application using "Matrix voice"(8 mic array) at Raspberry pi4
It work well.

I have question about Sound Source Tracking.(SST)
When we see from ODAS_WEB, their are 4 source tracking.
Can i add more sound source ? (more than 4)

Thank for All developer!

[2020-03-03 09:17] leejaeuk commented on #195
I confirm to checking src code, change a number of N_inactive array then SST ids number also increase.
But i don't understand N_inactive value.

[2020-03-06 15:59] tobe2bcon opened #196 "Remote ODAS: Starting fails - command "odaslive" not found"
Hi,
I am running odas_web as server on a linux desktop. I created a config file, which is located in /home/user/odas_web. As recommended for odas_web this file contains the relevant information for SSL, SST and SSS with each of these parameters including the IP address of the remote system. The IP address is written in "IP", hope this is correct.

My remote system, bearing a Matrix Voice, is a ras

[2020-03-09 23:46] jake266637 commented on #167
Hello @FrancoisGrondin

I was wondering if there was any progress on this issue yet and also if you could suggest some parameters I could change to improve the localisation of more impulsive sounds in a noisy environment (dog barks outside). I find that the DOA accuracy is only accurate if the dog bark is the sound that actually triggers the recording on one of the 4 channels.

[2020-03-16 06:37] lingfei93 opened #197 "ODAS with Kinect DK"
Hi, can i check if ODAS will work on the Kinect DK? Been playing around with the cfg file, but I've been stuck at getting data to show up on the odas web server. Would appreciate a poke in the right direction!

[2020-03-16 07:00] leejaeuk commented on #44
How is it going? I have same issue ...

[2020-03-16 07:01] leejaeuk commented on #44
I'm make socket server use Python code.
It worked a few second but like above issue, immediately exits all thread.

[2020-03-19 13:47] anrzej96 commented on #194
@FrancoisGrondin please, I desperately need help, some tip maybe?

[2020-03-23 17:59] anrzej96 commented on #187
I feel like I have a similar issue and i still can't find the solution.
Can you help me somehow?
https://github.com/introlab/odas/issues/194

[2020-03-23 18:06] anrzej96 commented on #158
I think like I have similar issue.
I'm desperately looking for help. Could you help me?
https://github.com/introlab/odas/issues/194

[2020-03-24 09:12] Apolotary commented on #180
@marcus905 did you manage to get any info? Just ran into the same problem myself, would like to use ODAS in my project, but can't figure out how the info is being sent and in what format

[2020-03-24 10:06] marcus905 commented on #180
Not yet, I'm still working on it, but I'll let you know

[2020-04-06 17:32] anujdutt9 opened #198 "Profile Summary not Printing"
Hi. I am running odaslive with matrix-voice board and RPi3. The demo works perfectly fine but I don't see the  Profiler summary report at the end.
The code contains the call to the "profiler_printf" in main.c for the single threaded application and ideally it should print out the  Profiler summary but somehow it's not printing it. What am I missing here ?
I am using the following command to run th

[2020-04-07 01:13] jake266637 opened #199 "How to make ODAS start new ID's more frequently when tracking"
For my purpose (tracking dog barks at some distance), I find that the directional information is not the best when it has been tracking a sound for some time or the dog bark comes up in an ID that is already being tracked (which makes the directional completely wrong). I want a new ID to start whenever a dog bark is heard but havent been able to alter the parameters to do this. Anyone have any par

[2020-04-07 03:22] leejaeuk commented on #22
it  need for other people. so do i

[2020-04-14 09:16] xiaotaw commented on #197
I have test odas with Kinect DK, and it works fine. Here is my cofg file: https://github.com/xiaotaw/odas/blob/master/config/odaslive/azure_kinect_dk.cfg

However, I am not going to use odas web server. Instead, an ASR program will consume the postfiltered data via unix domain socket (act as IPC).

Hope it helps.

[2020-04-22 23:37] #198 closed

[2020-04-23 04:31] yihanhu97 commented on #183
Hi Francois,

Do you know if ODAS has a detecting range? I noticed that when I have a
source placed about 6 feet away, the sound separation and DOA estimation do
not work quite well.

Best,
Yihan

On Thu, Jan 16, 2020 at 6:05 AM François Grondin <notifications@github.com>
wrote:

[2020-05-02 10:44] anrzej96 opened #200 "Can I use more than one 'target' in SST?"
Hi, i want to set all of my mics to target one source in direction that i know.
I realised that 'target' and 'static' cause that only one channel is beeing recorder.

I would like to set all of my chanells to look in one particular direction.
Can i do it?

Something like this:

	 target =
	(
		{ tag = "myTrackedSource"; x = 0.0; y = 0.0; z = 1.0;
		tag = "myTrackedSource1"; x = 0.0; y = 0.0; z = 1

[2020-05-09 07:12] chejmadi opened #201 "Difference between x, y, z coordinates of SSL and SST"
Hi,
I know the SSL output is doing sound source localisation and SST tracks the sound sources, but I'm a little confused as to how for the same timestep the x,y, and z coordinates for the four channels in SSL are almost arbitrarily different from those in the SST. And also similarly the values of E (which I'm guessing is Energy) don't exactly line up with those of "activity". When a sound source i

[2020-05-16 10:27] jiguansghen commented on #171
?

[2020-05-18 11:15] jiguansghen opened #202 "Can I config the ODAS on the 8SoundsUsb?"
![Screenshot from 2020-05-18 18-51-36](https://user-images.githubusercontent.com/62504906/82207043-cd050580-993b-11ea-814f-058ef42fda88.png)

I config ./odaslive -c matrix_voice.cfg -v in the odas_bin.Open another terminal and run npm start.The resullt as shown in the picture( + Initializing configurations...... [Done] |
| + Initializing objects............. [Done] |
| + Launch threads............

[2020-05-20 22:27] mgw-sbic commented on #68
Hi all, seeing this old thread. We are looking for a way to take the sound from our video and write it into a MacOS loopback or audio hijack virtual sound device. FFmpeg supports reading from audio devices on MacOS, but not writing to audio devices. Is there a solution? THanks!

[2020-05-21 03:41] dianalow commented on #188
sorry for the slow reply. soundcard wasn't reading in directly and this is solved.

[2020-05-21 03:41] #188 closed

[2020-05-21 06:41] dianalow commented on #130
I'm also facing this issue. I got some clues reading scotthasse's [solution for the Delta audio card](https://github.com/introlab/odas/issues/21#issuecomment-376580146)

and tried to configure my /etc/asound.conf to this:
[code]
I tested the configuration to see if it works:
`arecord -Dplug:multi_capture -f S16_LE -c 6 test.wav`
and it does.

I then modified my odas config to this:
[code]

but whe

[2020-05-22 01:41] dianalow commented on #130
My bad - it is "devicename" instead of "device_name".

I've managed to launch both odaslive and arecord concurrently. Haven't had any luck with my python script but it could be how my script is written.

Hopefully this helps in the solution somehow!

[2020-06-12 04:47] ketronium commented on #30
@taospartan did you have any luck building your acoustic camera?

[2020-06-17 02:52] Eric-cyber-1024 opened #203 "Tracking Signal from 6 mic array"
Hi there, I am working a project on a service robot which could track a speaker from mic array. Right now, I am testing with the 6 mic circular Array kit for raspberry -Pi using the Odaslive and Odas studio. Observing the response from the terminal, I understand the return of the x,y,z and the activity. But is it possible to track the signal and set its ID for a permanent ID?

For example, when I

[2020-06-18 06:43] Eric-cyber-1024 commented on #203
Another question .... Is it possible to generate another audio output for a instant playback, which it could be streaming into another interface and storing in a buffer? instead of using the file output?

[2020-06-19 07:42] Eric-cyber-1024 opened #204 "Listening to the mic audio via soundcard"
Is it possible for the odaslive to run the SST on the terminal and also output an audio signal via the soundcard ?  In my project, I am trying to gather the DOA of the sound source but also with the audible signal for voice recognition. Is anyone here could guide me to the right direction in generating this signal ?

Huge Thanks
Eric

[2020-07-07 04:40] Supermagnum opened #205 "Can the Odas library do range calculation?"
I think that the Odas library could also do range calculation if multiple 8soundsUSB or 16soundsUSB units are used.
The distance between the units needs to be known in meters. That would have applications for research on marine mammals.

That would need a watertight pod for each unit.
If a holder with 45 degrees between each piezoelectric disc is used,and placed on the X axis, and the discs are cl

[2020-07-08 10:12] #179 closed

[2020-07-10 03:36] #203 closed

[2020-07-10 03:36] #204 closed

[2020-07-18 06:14] chejmadi opened #206 "SST doesn't drop a source after the sound stops (Spurious sources and data)"
Hi, I'm running ODAS on a Raspberry Pi 4B with a Respeaker 4-mic array board. I've noticed this behaviour from ODAS most clearly when running the ODAS Studio application on a remote machine - ODAS picks up a sound source quite accurately, but as soon as the sound stops, the application continues to show the blob on the globe, and it invariably moves till it converges at a certain point, and then s

[2020-07-23 07:35] KARC9487947 opened #207 "Data error during ODAS startup"
Hi there,
I bought a ReSpeaker Mic Array v2.0  and  trying to test odas on it.
I have a question about odas.
In Function src_hops_process(src_hops_obj * obj)
Why is the normalization of PCM performed before the initialization of the sound card.
This will cause the first 768 data to be abnormal after ODAS is started
Are there any considerations for this design?

[2020-08-20 12:35] pfeatherstone opened #208 "Use the C API to do beamforming"
Is there a way of using the C API to do beamforming in a given direction?
Ideally i would like to specify euler angles or quaternions and extract the filtered audio in that direction, using the C api.
Or do you have to use the configuration file? I can't get it to work.

[2020-08-24 13:42] pfeatherstone commented on #208
Maybe the better term is doing spatial/angular filtering given azimuth and elevation. Using the C api

[2020-08-24 14:03] pfeatherstone commented on #158
@FrancoisGrondin Can you also achieve spatial filtering using:
[code]
??
I also want to spatially filter sound given an azimuth and elevation. I can't get it to work using either method.

[2020-08-24 14:03] pfeatherstone commented on #158
Also, is there a way of using the C API rather than using the configuration file.

[2020-08-25 08:57] pfeatherstone commented on #208
@FrancoisGrondin is this possible

[2020-08-25 13:15] pfeatherstone opened #209 "Converting RAW files to WAV"
How do you convert RAW files to WAV?
Currently i'm doing this:
[code]

But it doesn't work

[2020-09-08 12:51] pfeatherstone opened #210 "odas.h not correct"
When odas is installed globally the header files are not nested inside the ```connector```, ```message```, ..., folders. so ```odas.h``` isn't correct.

[2020-09-28 16:45] #126 closed

[2020-10-09 22:55] dragomirrg opened #211 "miniDSP UMA-16"
I am running ODAS on a Xavier AGX and trying to run a miniDSP UMA-16 in ODAS, but get no activity when I am recording. Has anyone tried to make a config file for a miniDSP UMA-16 and successfully tested it?

[2020-10-12 11:37] ameliefroessl commented on #180
@MauroPfister  I would also be interested in seeing how you receive the data in a python script. I am able to connect to the port which is outputting the SST data, however it seems like no data is being streamed. However, the data is definitely being received by odas_web.

[2020-10-12 20:58] mitchhh22 commented on #131
Hi @kyle-redyeti I'm looking for something similar with odas (return x,y coordinates of sound location) using a ReSpeaker.

You mention example code that can be wrapped with python to achieve this, can you please provide a link? I'm having a hard time finding it. Thanks!

[2020-10-13 11:26] kyle-redyeti commented on #131
It has been awhile but I will take a look for that code and get back to you.

On Mon, Oct 12, 2020, 3:58 PM Mitchell Harding <notifications@github.com>
wrote:

[2020-10-14 15:03] dyu2021 opened #212 "ODAS Sound Isolation Not Working Well"
I'm using ODAS running on Pi 3 with Respeaker 6 Mic Array (using Respeaker_6_mic_array config file from Seeed Studio) and was wondering what parameters I can tune to improve the performance of ODAS.
Currently, when playing back separated.raw using Audacity, the sound sources for the most part sound identical. For example, I have a speaker playing music and when I try to talk, the resulting channel

[2020-11-10 07:42] ruofeidu opened #213 "Respeaker 4-mic array: LED is way more accurate than SSL"
When observing the raw data from SSL and the live results from odas_web, I found that the LED indicator is way more accurate than then the visualization and the raw data. Sometimes I saw one or two sound source potentials keep remaining in the visualization and raw data, even if the source source is no longer speaking.

So my questions are:

1. How can I replicate the accurate algorithm of the LED

[2020-11-24 16:50] Funchhy commented on #180
For me, if i specify IP and Port(in this case 5027), as well as configure it to be TCP + json in the config file i can get Data via:
[code]

[2020-12-02 09:17] nacho-bodega opened #214 "Question about snk_hops_construct(...)"
Hello,

I have a question about snk_hops_construct() function in snk_hops.c file.
There are malloc and memset functions for obj->buffer.

obj->buffer = (char *) malloc(sizeof(char) * msg_hops_config->nChannels * msg_hops_config->hopSize * 4);
memset(obj->buffer, 0x00, sizeof(char) * msg_hops_config->nChannels * msg_hops_config->hopSize * 4);

Where does the number 4 come from? Because odas_web use

[2020-12-04 01:41] nacho-bodega opened #215 "Question about microphone directory"
If I compare the placement of microphones for Matrix Creator and Respeaker, one has mics downward and another has mics upward. How come both can capture elevation accurately?

I've been using Matrix Creator but the example configuration set them as "direction = (+0 +0 +1)" and I see correct elevation regardless of mics orientation.

And how did you find mu and variance over different devices?

Tha

[2020-12-18 22:26] keenanfitzharris commented on #197
I am trying to use my Kinect DK as well. I am using your config file which I edited the SST section so that the it does not utilize the Unix Domain Socket (I uncommented lines 253-256 and commented lines (257-261).

However when I try to run odaslive I get the error
"Source hops: Cannot set sample format: Invalid Argument:
Any idea as to what is wrong?
Thanks

[2020-12-18 23:19] keenanfitzharris opened #216 "Printing the live "tracks.txt" results"
Hello! Thank you for the incredible library of software. I have recently been trying to use ODAS for a project - which currently utilizes the Azure Kinect DK microphone array. So far, odaslive is working well for me. In addition to saving the results in the "tracks.txt" format, is it possible to print the live data results into a UI?

I would just need the XYZ coordinates of the possible source an

[2020-12-20 18:50] TheCyberDesk opened #217 "Connection from ::ffff:192.168.0.30 closed"
Hello,

I'm running into an issue which is driving me crazy here. I've followed the steps to get ODAS Web set up on my RPi 4.

I am running Node version 10.21.0.

I've set up the respeaker_4_mic_array config file to be using the correct card and device index. I've also tried it with 127.0.0.1 and the ip of 192.168.0.30

Each time I try pressing the green launch button on odas studio, the connectio

[2020-12-20 19:06] #217 closed

[2020-12-23 03:55] nacho-bodega commented on #214
Oh, I think I understand now.

pcm_normalized2signedXXbits(sample, nBytes, obj->bytes) is capable to set upto 24bits audio which requires a 4 bytes( char)  for each channel.

[2020-12-23 03:55] #214 closed

[2021-01-06 17:31] anrzej96 opened #218 "What "ms" and "ss" refers to in Sound Source Seperation module?"
Hello,

I have question - exactly same like the topic.
I've been doing my thesis using ODAS and i would like to describe methods used in SSS.
As i found, dss refers to Delay-and-Sum algorithm and DGSS - Gemoetry source seperation.
But i wasn't able to find anything about ss, and ms, which is really bad, cause 'ms' actually was the only mode that provided correct recordings in my project.

Can you

[2021-01-06 17:31] anrzej96 commented on #218
@GodCed @FrancoisGrondin - I'll really appreciate your help.

[2021-01-06 17:37] FrancoisGrondin commented on #218
Hi Jakub,

Here a paper you can refer to where we explain the ms mode: https://www.researchgate.net/publication/257523130_The_ManyEars_open_framework#fullTextFileContent

Please let me know if this is what you need!

Best,

[2021-01-06 17:43] anrzej96 commented on #218
Thank you so much!

I'm sorry for bothering you via e-mail as well, I just didn't expect so quick answer.
I'll study it and let you know, but it looks like exactly what I need.

What about ss - is it also included in this paper?

[2021-01-18 16:26] yugandharonchip opened #219 "Some samples at beginning dropped in post filtered audio"
Hello,

I captured audio with ReSpeaker Mic Array v2.0 (4 mic array) and used ODAS with raw mic data. When I compared the ReSpeaker provided processed audio (channel 0) with ODAS post filtered audio, I noticed that some samples at beginning are dropped in post filterd audio.

I followed the info at [Realtime Sound Source Localization and Tracking](https://wiki.seeedstudio.com/ReSpeaker_Mic_Array_v

[2021-01-21 12:12] jake266637 commented on #213
Hi, I'm pretty sure the reason for the high accuracy of the LED indicators is because they do not track sound sources and rather dispaly instantaneous (every 8ms) DOA information. The tracking function in my experience is far less accurate. If you pull the json file (see image) this is the information that is fed into the LED indicators. So it is available but does not have any audio stream asocia

[2021-01-23 12:14] yugandharonchip opened #220 "ReSpeaker Mic Array v2.0 (4 mic array) DOA is not matching with calculated azimuth from SSL json output"
Hi,

I used ReSpeaker Mic Array v2.0 (4 mic array) with ODAS and captured SSL json output in 4 directions(DOA = 0, 90, 180, 270) as in below picture. I used odas configuration file which is availble in odas/config/odaslive/respeaker_4_mic_array.cfg
![image](https://user-images.githubusercontent.com/31728988/105577195-00871200-5d9e-11eb-9b74-2f7ba7d7fe9f.png)

I used below formula which is availabl

[2021-01-24 06:29] zuowanbushiwo opened #221 "what is gss in sss module？"
Hi  Francois
     This may be a very simple and silly question for you, but it is a rather confusing question for me as a beginner. I found that it is parallel to the ds, mvdr beamforming algorithm, is it also a beamforming algorithm? But I searched and found that there is only one GSC (Generalized Sidelobe Canceller) beamforming algorithm.

thanks！

[2021-03-03 01:23] hltkts123 opened #222 "How to get direction of audio through ODAS?"
Hi everyone!
I'm trying to do project that control a mobile robot by voice. I used Respeaker Core v2.0 to captured audio. I done with ODAS as the below figure.
Now I want to use the azimuth angle to control a mobile robot. I already have a complete robot.
So how do that?
![Screenshot from 2021-03-03 08-04-03](https://user-images.githubusercontent.com/60927825/109737748-27d0ca80-7bf9-11eb-8efb-4001

[2021-03-03 01:50] hltkts123 commented on #216
Have you solved this problem yet?

[2021-03-03 02:18] hltkts123 commented on #132
Can you explain the formula?

[2021-03-04 08:15] hltkts123 commented on #186
how can save the SST?

[2021-03-04 08:33] hltkts123 commented on #182
Hi. have you solved the issue?

[2021-03-04 08:59] hltkts123 commented on #131
HI, can you please give me a file? thanks in advance

[2021-03-04 12:36] kyle-redyeti commented on #131
I actually started looking at this again last week... I am trying to
integrate it with ROS and run it on a Jetson nano.  I will take a look when
I am at my desk today

Kyle

On Thu, Mar 4, 2021, 2:59 AM hltkts123 <notifications@github.com> wrote:

[2021-03-04 15:57] kyle-redyeti commented on #131
Can you send me an email at kyle<dot>redyeti<at>gmail with what you are
trying to achieve I am not finding my original python code but if you are
using ROS as your "middleware" I can point you to some of the things I am
working on!

Kyle

On Thu, Mar 4, 2021, 2:59 AM hltkts123 <notifications@github.com> wrote:

[2021-03-09 19:25] doumdi commented on #222
https://github.com/introlab/odas_ros/tree/redesign_modular_v2/sound_tracking

[2021-03-12 07:49] peisong0109 commented on #222
How did you get these parameter information, includes: x, y, z, energy?
Probably your method is really helpful for me.

[2021-03-15 02:18] hltkts123 commented on #222
It's amazing! I have cloned it to my laptop and following readme.md. However when I "catkin_make", it showed error as below:
/home/freedom/Pictures/Screenshot from 2021-03-15 09-13-46.png
I tried to find it, but it failed

[2021-03-15 02:23] hltkts123 commented on #222
Currently I don't have a way to get the parameters. I'm trying use methor suggested by doumdi above

[2021-03-20 07:52] ldxdudu opened #223 "Hi, I would like to ask how to record file data instead of microphone data to provide raw audio for ODAS"
I am reading this paper :ODAS: Open embeddeD Audition System. The paper says "Raw audio can be provided by a pre-recorded multi-channel RAW audio file, or obtained directly from a chosen sound card connected to microphones for  real-time  processing"
but i do not know how to do it.
Thanks!

[2021-03-22 15:26] as4mz opened #224 "How to use the audio stream from PyAudio as input in ODAS"
Hi,

I am using Respeaker mic array v 2.0 to save the raw audio stream. I plan to get the audio stream using pyaudio/portaudio, and then feed it into ODAS. I want to keep the raw audio stream for further usages. I do not find any option in ODAS to get the raw audio stream as I can get using pyaudio/portaudio.

I see there is an option in the config file to use the recorded audio file. Is it possib

[2021-04-05 09:19] LudovicDeMatteis opened #226 "Socket error: "Sink pots: Cannot connect to server""
Hello,
I've been working with odas_ros and the 16SoundsUSB card. It is plugged in my computer and I ran the odas ros package.

The part of the configuration that is most interesting for this issue is:

potential: {

        format = "json";

        interface: {
            type = "socket";
            ip = "127.0.0.1";
            port = 9001;
        };

        #format = "undefined";

        #

[2021-04-06 12:26] doumdi commented on #226
@LudovicDeMatteis, Can you try to use the latest (just released last week) odas_ros code here: https://github.com/introlab/odas_ros ? Use the sample configuration in here to start : https://github.com/introlab/odas_ros/blob/main/config/configuration.cfg

[2021-04-06 12:40] doumdi commented on #226
@LudovicDeMatteis, could you describe in details what you are trying to achieve? Basically, the odas_core_node needs to connect to a python node and you seem to have a configuration mismatch  (wrong port?). We simplified the setup in the new version parsing directly only one configuration file avoiding this problem.

[2021-04-06 14:26] LudovicDeMatteis commented on #226
@doumdi I used the latest version of odas_ros and the configuration file you suggested. I seems to have gotten past the socket error. I now encounter a python error:
`OdasServerNode instance has no attribute '_sst_frame_id'
OdasServerNode instance has no attribute '_ssl_frame_id'
`
It most likely happens in the odas_server_node.py file in "send_sst" line 188:
`odas_sst_array_stamped_msg.header.fra

[2021-04-06 14:45] LudovicDeMatteis commented on #226
I defined a frame_id that suits my aplication and I past the error. I now got a new one concerning pcl2.
`[ERROR] [1617719530.472705]: bad callback: <bound method OdasVisualizationNode._ssl_cb of <__main__.OdasVisualizationNode instance at 0x7f04ed2e0500>>
Traceback (most recent call last):
  File "/opt/ros/melodic/lib/python2.7/dist-packages/rospy/topics.py", line 750, in _invoke_callback
    cb(

[2021-04-06 15:53] doumdi commented on #226
@LudovicDeMatteis You need to put the odas_ros package in the src directory of the catkin workspace and do a "catkin_make" to generate the adequate ROS messages. Then, you should launch (with roslaunch) your project by creating a launch file similar to this one : https://github.com/introlab/odas_ros/blob/main/launch/odas.launch.

[2021-04-06 16:32] oliroy92 commented on #226
Hi @LudovicDeMatteis,

I just pushed a new version of odas_ros with modifications to fix these errors. Can you try again after having pulled?

Thanks!

[2021-04-06 17:38] doumdi commented on #226
@LudovicDeMatteis Please tell us if you are successful with the patch. Thanks!

[2021-04-07 08:43] LudovicDeMatteis commented on #226
@doumdi @oliroy92  Everything is working fine now. I can read the topics and visualize on rviz which is exactly what I wanted. Thanks a lot for your help. Have a nice day

[2021-04-09 04:49] ruelj2 commented on #13
Can you please explain how you got it to work. On my side, I still have only 1 channel at the output of separated and beamforming doesn't seem to work at all. I've tried dds and dgss with static (x-0, y=0, z=1).

[2021-04-09 06:55] ruelj2 commented on #13
Got it to work but I had to use app="dynamic" with tags. The postfiltering outputs 4 channels listing the tags before the dynamics.
Here is my config for the usb 4 mic array respeaker and an mp3 sample.

I'm using Gstreamer to record the output channels:
[code]

[beamforming_usb_4_mic_array.mp3.txt](https://github.com/introlab/odas/files/6283727/beamforming_usb_4_mic_array.mp3.txt)
[respeaker_usb_

[2021-04-12 11:04] LudovicDeMatteis commented on #226
Hi, I'm reopening this issue because I facing new problems.

To summarize, I got a Ubuntu 18.04 computer with a 16SoundUSB card plugged in (USB). Using the given config file I can run odas_ros and get published topics. However, looking at the topic `odas/sst/sources` I do not get any sources detected.

I tried to set the soundcard as the acquisition device in Audacity to verify that it gets someth

[2021-04-12 13:40] oliroy92 commented on #226
Hi @LudovicDeMatteis,

Normally, with the latest release of odas_ros, the topic for the sound source tracking (sst) should be published on the topic `/odas/sst`. If you are able to launch odas_ros and it doesn't crash, it should mean that your sound card is recognized. When you do launch odas_ros with `roslaunch`, you should be able to set the `rviz` parameter to true to see the published sst in R

[2021-04-12 15:14] LudovicDeMatteis commented on #226
Hi @oliroy92

I ran the command to run rviz with odas.launch and I indeed get points from the ssl topic. However there is no arrow showing up even when there is a sound source. When the sound source gets louder the number of points reduces so I assume the card is indeed getting some sound and there is less potential sources when the main source is clearer.

 In the terminal I get some messages: `E

[2021-04-13 00:07] Supermagnum opened #227 "Feature request: IMU ACCEL/GYRO 3-AXIS support"
A BNO055 can be used to detect X,Y and Z axis values.
That is useful for detecting the origin of a sound in 3D space.
It has:
3 sensors in one device:
    16-bit Gyroscope
    16-bit Accelerometer
    Geomagnetic Sensor.

BNO055 is able to provide not only single data of the three kinds of sensors (accelerometer/gyroscope/geomagnetic), but also integrated data, such as quaternions, Euler angles or

[2021-04-13 09:01] LudovicDeMatteis commented on #226
The dots of the ssl point cloud are mostly red to yellow in the direction of the source unlike in your picture where they are mostly green. There may be a problem of intensity?

The topic `/odas/sst` is published but the "sources" field is empty :
![image](https://user-images.githubusercontent.com/58736393/114524090-d3c7f580-9c3c-11eb-99ad-ea6eaf35e291.png)

Here is a picture of the microphone arr

[2021-04-13 18:18] doumdi commented on #226
@LudovicDeMatteis, can you try increasing the gains on each microphone (there is a blue multi-turn potentiometer for that)? To help, I use Audacity to make sure I turn in the right direction to increment the gain & amplitude while making an acquisition. Please try the maximum gain for the 8 microphones you use. You should hear a "click" from the potentiometer when you reach the end of the range.

[2021-04-13 22:05] oliroy92 commented on #226
@LudovicDeMatteis,

In addition to what @doumdi said, here are a couple more things to look at:

Could you make sure to include that picture in your comment?

From your configuration file, it looks like the microphone configuration is a semi-circle with microphones of alternating heights. Is that correct? Also, you seem to have configured your file with 16 microphones but have only 8 mapped. Is th

[2021-04-14 15:03] LudovicDeMatteis commented on #226
@doumdi @oliroy92 the microphone gains are already set to the maximum.

Sorry, I didn't see that the picture was not attached. Here it is now:
![IMG_20210413_093416_resized_20210413_093520292](https://user-images.githubusercontent.com/58736393/114728348-ed4d6800-9d36-11eb-966b-f19831cc771a.jpg)

Indeed it is a semi circle with microphones of alternating heights. I had a couple mistakes in my confi

[2021-04-15 22:52] aguaviva opened #228 "Sample cfg file for 2 microphones? O:) (Newbie here!)"
Hopefully this will enable many enthusiasts like me to get started in this fascinating topic :)

Just to set my expectations right, what sort of experiments could I do with a 2 mics setup? (They are separated 60cm)

Thanks!!

[2021-04-17 03:16] somewacko opened #229 "odaslive segmentation faults after running for some time"
I am running `odaslive` on a Raspberry Pi 4 with a ReSpeaker 4 Mic Array, but after some time (anywhere from a few seconds to several minutes later) it will crash with a segmentation fault. I am using the provided config at "config/odaslive/respeaker_4_mic_array.cfg" and have only changed the IP address.

I've so far ruled out the driver since I can record audio without crashing, and this seems to

[2021-04-21 12:50] LudovicDeMatteis commented on #226
@doumdi @oliroy92 Hi, I got one more question. Is odas_ros capable of separating two sources and gives both their positions? I suppose that the SSL topic can be used to get the most probable positions of two (or more) source but will the SSS et SST topics give distinct positions and audio?
Thanks,
Ludovic

[2021-04-21 15:46] doumdi commented on #226
@LudovicDeMatteis , yes ODAS can track and separate up to 4 sources.

[2021-04-22 09:37] baynaa7 commented on #182
No ...

[2021-04-23 10:47] nyxrobotics opened #230 "(Question) Does odas have a distance measurement function?"
In [this](https://introlab.3it.usherbrooke.ca/mediawiki-introlab/index.php?title=ManyEarsPackages&setlang=fr#Planar_Array_Configuration_for_3D_.28with_distance_approximation.29) article, ManyEars seems to have implemented distance measurement.
Does odas have a distance measurement function?

I'm sorry if the word "distance approximation" has a different meaning from "distance measurement".

[2021-04-23 10:56] nyxrobotics commented on #168
I'm in the same situation, but it worked fine on odas_web.
I think the options for the odaslive command have changed, but I'm not sure.

[2021-04-29 09:10] mamadouDembele commented on #226
Hi I am currently working with the respeaker 4 mic array voice interface. I'm trying to find the location of the sound source thanks to the odas_ros packages. After compiling this package, when I run the launch, I first get this error '' Sink tracks: Cannot connect to server''
![Screenshot from 2021-04-29 11-01-13](https://user-images.githubusercontent.com/57793779/116527716-4a225400-a8db-11eb-9fa

[2021-05-08 08:42] luffycheung opened #231 "Cmake Error： No package 'libconfig' found"
env：Ubuntu18.04 cmake error。
already installed libconfig，
error info：
`-- Checking for module 'libconfig'
--   No package 'libconfig' found
CMake Error at /usr/share/cmake-3.10/Modules/FindPkgConfig.cmake:415 (message):
  A required package was not found
Call Stack (most recent call first):
  /usr/share/cmake-3.10/Modules/FindPkgConfig.cmake:593 (_pkg_check_modules_internal)
  CMakeLists.txt:11 (p

[2021-05-13 05:44] #231 closed

[2021-05-18 00:15] prospero12 opened #232 "Hardware recommendations"
Very interested in using ODAS for sound source localisation and tracking in, and across rooms with a fair amount of echo and ambient noise; thus would much appreciate any recommendations on hardware/mic arrays to use.  Some options that people seem to have used, are

1. MATRIX creator
2. ReSpeaker v2 variants
3. 16SoundsUSB

Cost may also play a part, but pros and cons, and any recommendations (or

[2021-05-27 01:46] abhinit310 commented on #164
Hi
I have tried with node 10.x . But the error remains the same.
![Screenshot from 2021-05-27 10-45-07](https://user-images.githubusercontent.com/84885553/119752892-bee7ae80-bed8-11eb-82f5-d25151092d95.png)

[2021-05-27 01:47] abhinit310 commented on #164
@MohamedSamiGamalElden @GodCed @deepchand41
https://github.com/introlab/odas/issues/164#issuecomment-849252136

[2021-06-07 10:00] #226 closed

[2021-06-07 10:07] LudovicDeMatteis opened #233 "Multiple source tracking not working"
Hi,
I tried to test multiple source tracking on the latest ODAS version and I can't have it working. I used odas_web to have a visualization of the source tracking and even when there are two sources, odas seems to only track one. I attach below the figure to illustrate that.
![odas_web_2sources](https://user-images.githubusercontent.com/58736393/120998386-f7607580-c77f-11eb-8d87-e2e279f26906.png)

[2021-06-11 13:39] nyxrobotics commented on #230
I found the answer here https://github.com/introlab/odas/wiki/Frequently-Asked-Questions

[2021-06-11 13:39] #230 closed

[2021-06-12 08:15] suegy commented on #229
I have the same issue running it on a Pi4 using the 6 mic array.
I tried the web server and writing to file so it cannot be the connection.

[2021-06-14 10:58] nyxrobotics commented on #233
I'm not an expert on odas, but what if you set nPots to 4?
[code]

[2021-06-14 11:10] nyxrobotics commented on #232
I bought XK-USB-MIC-UF216 and Respeaker V2 and UMA-8 and ps3-eye.
Between XK-USB-MIC-UF216 and Respeaker V2, XK-USB-MIC-UF216 had better beam forming performance.
PS3eye has good sound quality but very poor sound source localization performance.
UMA-8 will be tested in the future.

I read this article.
https://arxiv.org/pdf/2103.03954.pdf

[2021-06-14 19:46] lembit1 opened #234 "raw audio file input location"
Hello, I am trying to process raw audio input stored previously from a respeaker_usb_4_mic_array, by modifying the .cfg file raw interface section, to have type = "file"; path = "input1.raw" (as per https://github.com/introlab/odas/wiki/configuration), and also directing the SSL and SST outputs to files which are written to introlab/odas_web/tracks.txt etc (as commented in the .cfg). To get starte

[2021-06-14 19:50] lembit1 opened #235 "run odaslive from command line"
Hi,
I would like to use odaslive to process .raw input files without using the odas_web GUI. Is there a commandline form to do this?
Thanks!

[2021-06-15 14:05] lembit1 commented on #182
Hi @baynaa7 , which folder do you read input.raw from? Same one that you write tracks.txt to? I asked this question in https://github.com/introlab/odas/issues/234 . Thanks!

[2021-06-15 16:50] lembit1 commented on #234
it looks in odas_web

[2021-06-15 16:50] #234 closed

[2021-06-18 09:24] nyxrobotics commented on #232
The UMA-8 was similar in performance to the XK-USB-MIC-UF216.
I ordered MATRIX creator a while ago. I'm looking forward to receiving it.

[2021-06-21 04:33] prospero12 commented on #232
Many thanks @nyxrobotics for the recommendations.  I've since bought a ReSpeaker v2, and agree, it doesn't quite achieve what I had intended.  Will investigate the UMA-8 if able.

[2021-06-21 10:16] LudovicDeMatteis commented on #233
Hi @nyxrobotics, thank you for the suggestion. Unfortunately that does not solve the problem for me.

[2021-06-28 13:03] nyxrobotics commented on #232
The MATRIX creator seems to be for use with the Raspberry Pi and does not have a USB connection.
It doesn't seem to be suitable for my use.
The ReSpeaker v2 and the UMA-8 are quite different in performance, so you may want to try them out.

[2021-06-29 07:38] subhalingamd commented on #235
Hi! I had a similar question few days back and I have found a solution recently (so thought I can share it here).

In the configuration file, modify the `interface` in `raw` section (as below) to get input from a `.raw` file.
[code]

The outputs of the module can be obtained in *terminal* or *file* by changing the `interface` options under **each** module in the configuration file.
[code]

[code]

[2021-06-29 19:09] vfina commented on #235
Hi @subhalingamd!
Following your instructions is it possible to process .wav files?
I've a certain number of audio tracks and I need to evaluate the DoA with ODAS. Do you have any hints?
I initially thought about setting the configuration file parameters like this:
[code]
Thanks!

[2021-06-29 21:03] lembit1 commented on #235
hi @subhalingamd ! Thank you for pointing out how to edit the .config file to select data source and sink 👍 . The question is how to run  ODAS core without using the ODAS Web interface?

[2021-06-29 21:13] lembit1 commented on #235
Hi @vfina . The .raw and .wav formats are very similar. The .wav format does have a metadata header in <INFO> chunk https://en.wikipedia.org/wiki/WAV. Everything after the .wav header is the .raw data. For manual preprocessing, you could use a hex editor to strip out the .wav header. http://soundfile.sapp.org/doc/WaveFormat/ is a user-friendly .wav format discussion

For a automated solution, I su

[2021-06-30 03:36] subhalingamd commented on #235
Hi @lembit1. You can use the following command.
[code]
The `odaslive` executive would normally be in `bin/` after compilation.

---
PS: fyi the steps for setting up ODAS is mentioned in Wiki

[2021-06-30 03:55] subhalingamd commented on #235
Hi @vfina! I don't think `.wav` files are supported directly. @lembit1 has mentioned one approach. An easier way (imo) would be to use libraries that can be used on command-line. I have been using `sox` and the following commands:

[code]

[2021-06-30 17:39] ShawnPinchbeck opened #236 "SSS, sources not very distinct in separated.raw."
I am testing ODAS for possible use in a computer interactive art piece to isolate participants and performers giving voice commands from the ambient noise/music of the active space.

In my testing, I have the ReSpeaker 4 mic array running on a Raspberry Pi 4 with speakers 2m away from the mic on opposite sides. I have Odas_web running on my Mac. I play voice from one speaker and ambient sounds or

[2021-07-03 16:51] Quang-Kien commented on #209
Try this

`# Usage python raw_2_wave.py <inputRAW> <outputWAVE>
import wave
import sys

if len(sys.argv) <2:
    print ("Usage python raw_2_wave.py <inputRAW> <outputWAVE>")
    sys.exit(-1)

RESPEAKER_RATE = 16000
RESPEAKER_CHANNELS = 4
RESPEAKER_WIDTH = 2
# run getDeviceInfo.py to get index
RESPEAKER_INDEX = 0  # refer to input device id
CHUNK = 1024

RAW_INPUT_FILENAME = sys.argv[1]
WAVE_OUTPUT

[2021-07-03 21:20] simonbunge opened #237 "Phoenix features in master branch?"
Hi @FrancoisGrondin,

Amazing project, thanks for all the hard work!!

The code base is fairly new to me and I don’t quite understand the different genesis/ purpose of the phoenix vs. the main branch?

Some features in phoenix, namely 1. the iseps/ ipfs sinks and 2. targets source would come in really handy for the application I have in mind.
At the same time, the the phoenix demo application (cor

[2021-07-03 21:34] simonbunge commented on #237
Apologies, just looking through the objects code in the phoenix demo, which _is_  indeed threaded. So I’ll just run with that branch as basis for what I’m trying to do!
Would still be good to understand what these branches are about and whether they will ever come together.
Cheers!

[2021-07-04 04:32] Quang-Kien commented on #236
Have you tried with posfiltered.raw? I found the better separation level in this file rather than seprarated.raw (?), btw, can we deliberately set the number of sources and how it is defined?

[2021-07-04 04:38] Quang-Kien commented on #228
[respeaker_2_mic_array.cfg.txt](https://github.com/introlab/odas/files/6759376/respeaker_2_mic_array.cfg.txt)
Please try this, I can run odas with this file for Respeaker HAT 2 Mic on Pi 4, however, the separated sources are quite distorted. Any suggestions are welcome!

[2021-07-05 19:21] ShawnPinchbeck commented on #236
Thanks for the reply! The postfiltered.raw has too many artifacts and isn't useful for voice recognition.

I'm not sure if you can change the number of sources. You can change the sensitivity of tracking, duration of tracking when objects are not making sound and you can adjust the angle of sensitivity to block out erroneous noise from directions you don't want to detect.

I'm wondering if the sep

[2021-07-05 21:14] FrancoisGrondin commented on #236
Hi there,

This mainly depends on the room acoustic. In some cases the GSS module can do a decent job, but sometimes it gets more difficult. You are right: the post-filtered version should not be used with a ASR system as it introduces some distortion.

We are currently working on PyODAS, which will be in Python, and will include some more recent DL-based methods to boost separation results. Stay

[2021-07-08 16:45] ShawnPinchbeck commented on #236
Hi Francois, I was wondering if room acoustic was a factor in the sss. I'm testing in a pretty small area. I'll have to try it out in our studio to see what the difference is.

I'm definitely tuned in! :-) What is your timeline for PyODAS release?

Cheers!

[2021-07-09 14:56] FrancoisGrondin commented on #236
Hopefully by the end of fall 2021 :)

[2021-07-10 09:32] Quang-Kien commented on #236
Please share your test results, Indeed the postfiltered is not recognized well though the playback showing the clear separation. On the other hand, the separated version exhibit a strong mixing impact and is no used for speech recognition as well

[2021-07-10 09:33] Quang-Kien commented on #236
Great to hear, should be a python wrapper?

By the way, I found that the output raw always composes 4 channels, in our case we just want o separate two sources, is any way to set the number of sources at least for output?

Any please share with us a more detailed explanation of the parameters in the cfg file if you have any, your help is appreciated.

BRs

[2021-07-15 13:04] InnovationCET opened #238 "Cannot set sample format: Invalid argument"
after successfully installed ODAS on ubuntu 20.04, with freshly installed latest 6-ch firmware for ReSpeaker Mic Array V2,
with suggested modifications:

* **SSL**
[code]
* **SST**
[code]
* **SSS**
[code]
I failed to start odaslive. Launch it using the ODAS studio also not seems to work :/

[code]
on the Studio side:
[code]

[2021-07-22 02:38] ganyihangxingyihang commented on #222
How to start odas_ros,after installation is complete,i dont know how to do

[2021-08-01 12:13] Quang-Kien commented on #223
You can record wave file and then convert it to raw file, raw file is a wave without header. Check google for a script to convert.

[2021-08-07 01:51] Supermagnum opened #240 "sending sound to a FFT spectrum and waterfall program."
Hi, is it possible to send the sound of a tracked, localised and separated sound source to a FFT spectrum and waterfall program like https://www.ocenaudio.com/ ?

[2021-08-07 07:49] fanman2014 opened #241 "Camera viewer"
Hi,

I wish to superimpose the sound locations onto a live webcam stream. In other words, I would like the peak sound energy locations to be located on a live video stream showing the sound source. What is the best way to do this?

BTW, I also noticed that the app has a "camera" menu item. What does this really do? When I select it nothing happens.

Look forward to your help.

thanks

Mark.

[2021-08-12 06:54] fanman2014 commented on #241
Ok, I've written a Python script below to read in ODAS data based on Port 9001 / SSL. I've tried to invoke Odaslive via a command in Python and then connecting to the socket. I try to establish a connection using the terminal command "nc 10.0.0.17 9001". Sometimes I cannot connect to the server, other times if I get a connection, no data is coming through. I'm running this on a Raspberry Pi 4. Ple

[2021-08-22 07:34] InnovationCET commented on #238
update:
I've managed to solve the issue, and of course - thanks a lot it is a great project!
 it was in parsing of the configuration file. is it a conventional configuration file?

[2021-08-22 07:34] #238 closed

[2021-08-26 05:12] fanman2014 opened #242 "TCP / UDP"
Silly question, is it possible to connect to ODAS using UDP sockets instead of TCP? If so how can this be done?

[2021-08-31 16:57] anuragacr opened #243 "SSS not working / not showing output"
Hi,
The sound source localisation is working and i can get the coordinates for the sources on the unit sphere as expected.
However, the sound source tracking is not returning any input and all values are being returned as 0.
Is there any way to identify what is causing this? The GUI on ODAS_web also shows active audio sources as expected.

Here are the outputs for the SSL and SSS units as exported

[2021-08-31 17:01] anuragacr opened #244 "Device or Resource busy error on using ODAS with any Audio/Media application simultaneously."
Hi,

ODAS keeps throwing up this error whenever i try to run ODAS alongside any other sound or music based process running simultaneously, be it whether i have just a headphone jacked in, am in a call or my browser is playing music in the background.
In each instance i have verified that the mic array ODAS should be using is not being touched at all.

Any way to resolve this issue?

[2021-08-31 17:04] anuragacr opened #245 "No output for postfiltered.raw / seperated.raw"
Hi,

I have been unable to get any output for these files, which i am assuming to the the results of the sound source separation unit.
Also, the ODAS_web client fails to respond when trying to record audio.
Are these issues interconnected and how do i resolve them?

thanks

[2021-09-08 05:56] SCWhite commented on #243
@anuragacr  HI, can you show the config file you use?
I think there might be something wrong with it.

[2021-09-10 03:59] fanman2014 commented on #236
I'm still unclear, what does the SSS data do? I know it's related to beamforming but does it provide the unit vector location of the sound source in 3D space?

[2021-09-21 18:05] #237 closed

[2021-09-30 14:05] Jelt0 opened #246 "Minimum number of microphones?"
Hi,

I was wandering if there is a minimum number of microphones necessary in order to use the ODAS system. I am looking into building a measurement mic array an channels are rather expensive…

Thanks in advance!

[2021-10-05 13:14] SCWhite commented on #246
I think you might need at least 3 mic to become a "array" (but very inaccurate)
If you want to have Azimuth and Elevation angle, you must have at least 3 mic to form a 3D Coordinate System (xy,yz,xz)
but I guess if you just need 1 dimension data, 2 will work.

[2021-10-05 14:20] Jelt0 commented on #246
Would a 3-mic-array work with ODAS? I read in one of the ManyEars-papers, which is the framework ODAS is partly based on (if I am correct) that the ManyEars system requires at least 4 Mics.

Also, are there any restrictions on the array geometry to allow processing with ODAS? Do the mics have to be arranged in a circle, like with most of the MEMS-Arrays? Or would it be wise, to put one mic into th

[2021-10-14 07:34] pbt98 opened #247 "Particle filter in mod_sst.c"
Hello, I'm analyzing the particle filter for fitting in the parameters for hand motion detection. But I couldn't understand the role of the parameter or meaning of the abbreviation.

1. obj->array in src/init/combining.c, I couldn't understand the relationship between iTrackNewFalse in src/system/mixture2mixture.c

2. I couldn't understand abbreviations in the mixture_printf() function in src/sign

[2021-10-29 09:13] Daniel412412 opened #248 "Npm Install for ODAS didn´t work"
Hello,
I have tried to install ODAS Studio on the Raspberry Pi. I followed the instructions on the following page.
https://medium.com/@bharathsudharsan023/odas-open-embedded-audition-system-sound-source-localization-tracking-separation-and-c29d54390137
After step 5 the installation broke up and I get this error.

![grafik](https://user-images.githubusercontent.com/93372978/139409083-ce658a55-86a2-

[2021-11-04 14:43] #216 closed

[2021-11-05 11:32] sophiatinoco opened #249 "Hardware Compatibility"
Hi all,
Thanks for providing such a handy tool!
I just wanted to make sure if ODAS is compatible with any of these two hardware options:
- ReSpeaker 6-Mic Circular Array Kit for Raspberry Pi (https://www.seeedstudio.com/ReSpeaker-6-Mic-Circular-Array-Kit-for-Raspberry-Pi.html)
- ReSpeaker Mic Array v2.0 (https://www.seeedstudio.com/ReSpeaker-Mic-Array-v2-0.html)

Many thanks!
Best regards,
Sofia

[2021-11-08 10:45] VioletIsSoCute opened #250 "Nothing happened after launching ODAS on raspberrypi"
Hi,
I'm currently working on the respeaker 6-mic array.

I've launched the ODAS studio using npm start in raspberrypi, but nothing happendafter hitting the Launch ODAS button nothing happend.

![253898770_317553243150156_8826338893888469587_n](https://user-images.githubusercontent.com/93915011/140728083-9d3f7d3e-37af-4961-98e4-3587100f254f.jpg)

Do anyone know what's going on?

Thanks

[2021-11-11 11:07] VioletIsSoCute commented on #250
It is weird that it just connect and closed the connection after a few seconds.
Also, I tried to launch using the command line, it just stop at the thread running a few seconds, than continuing to close the program.
Does anybody encounter similar situations?
Thanks
![253369334_320716106149356_7504117981350538868_n](https://user-images.githubusercontent.com/93915011/141287886-d4065120-248e-41ba-8ef

[2021-11-12 11:55] Qinyang-bit commented on #154
DId you solve the issue? I have the same issue.

Thank you in advance.

[2021-11-12 12:58] Qinyang-bit commented on #219
How to use 4 channel raw audio file as input? With python?

It's great if you can reply.
Thanks in advance!
Dongdong

[2021-11-12 13:18] Qinyang-bit commented on #220
Hi,Yugandhar!

I have a similar issue. Did you solve the issue, and how?

It's great if you can reply.
Thanks in advance,
Dongdong

[2021-11-12 13:26] Qinyang-bit commented on #222
Hi, I am so so excited that you have get  these parameter information, these are just what I need.
Can you tell me how you got them? That will help me a lot!

It's great if you can reply,
Thanks in advance!
Dongdong

[2021-11-12 13:28] Qinyang-bit commented on #223
Did you solve the issue now?

[2021-11-12 13:28] Qinyang-bit commented on #224
I have the same problem!

[2021-11-14 02:40] Qinyang-bit commented on #222
May I see the full contents of your terminal? That will be so helpful for me!
Thank you so much！！

[2021-11-14 05:31] VioletIsSoCute commented on #217
May I asked how you solved the issue?

[2021-11-16 06:21] VioletIsSoCute commented on #188
I've bumped into similar problem. May I asked how you solved the soundcard problems?

[2021-11-23 23:50] henrik-the commented on #204
Did you solve this issue? If yes, how did you do it?

[2021-12-27 11:16] Bengisu2 commented on #245
hello, were you able to fix the error? I am getting the same error while recording. @anuragacr

[2022-01-17 16:56] sjdevlin opened #251 "Question regarding pitch estimation"
The auto-correlation function in freq2accor is slightly different from what I have normally seen.  Normally I have seen this done with zero padding the time domain sample and then taking the DFT, squaring the magnitude and then the IDFT to get the auto correlation.  But in the Odas code you take the DFT, square the magnitude, zero pad the result (in the freq domain) and then perform the IDFT.  I a

[2022-01-27 04:55] myfatemi04 commented on #245
when this happened to me, it was because one of the audio channels was somehow empty. if you're using the ReSpeaker 6-mic array, I recommend changing the channel mapping from (1, 2, 3, 4, 5, 6) to (1, 2, 3, 4, 7, 8). (Channels 5 and 6 are used as playback channels). When I changed the channel mapping, sound separation started working again.

[2022-01-28 16:53] ELELUABDULSALAM commented on #250
Yes I do, please have you been able to solve it

[2022-01-31 04:29] ELELUABDULSALAM commented on #39
this is not working for, got the same error

[2022-01-31 04:37] ELELUABDULSALAM commented on #202
are you able to solve this

[2022-02-03 16:15] ELELUABDULSALAM commented on #123
Hello @viduraakalanka how can you save odas angle result ?

[2022-02-03 16:34] ELELUABDULSALAM commented on #250
Hey. can we save the angle recorded in a CSV file

[2022-02-10 05:57] hritiksth764 commented on #27
how are you getting these values ?

[2022-02-22 11:30] StuartIanNaylor commented on #246
Hi does anyone know if a basic azimuth beamforming can be provided by a 2 mic and does anyone have a conf guide for best settings for the respeaker 2 mic?

[2022-02-22 16:39] StuartIanNaylor commented on #236
PyODAS would be amazing have you got any updates Francois?

[2022-02-22 16:48] StuartIanNaylor commented on #220
Should it not be respeaker_usb_4_mic_array.cfg

[2022-02-22 16:50] StuartIanNaylor commented on #157
@FrancoisGrondin do you think it could be possible on a Pi4?

[2022-02-28 03:45] Chen-jia621 commented on #202
I have the same question, do you solve it ?

[2022-02-28 03:52] Chen-jia621 commented on #238
Could you tell me how to solve this problem? thanks!

[2022-02-28 04:05] ELELUABDULSALAM commented on #238
Check your sound card type

[2022-03-05 03:39] mycool666 opened #254 "How to calculate octagon points in fine resolutions grids?"
Hi Francois,
I don't understand the principle of calculating octagon points in fine resolutions grids.Can you tell me where this computing idea comes from？Here is a code snippet：
        ux = points->array[index*3+0];
        uy = points->array[index*3+1];
        uz = points->array[index*3+2];

        x1 = points->array[iPointMin*3+0];
        y1 = points->array[iPointMin*3+1];
        z1 = poin

[2022-03-11 14:38] ELELUABDULSALAM commented on #220
Have you been able to solve this issue @yugandharonchip @Qinyang-bit

[2022-03-15 20:39] LePtitMetalleux opened #256 "Missing files for make"
Hi, I was trying to install ODAS on my RaspberryPi but when I had to do the make command, I got an error saying that pulse/simple.h is not a file.
So I checked in the repo and couldn't find any file with this name.
It seems that you've added thoses lines : #include <pulse/simple.h>
    #include <pulse/error.h>
In your commit of February 1st
In the file [include/odas/source/src_hops.h](https://gith

[2022-03-15 20:47] FrancoisGrondin commented on #256
@philippewarren : can you look at this issue: looks like it has something to do with the latest update of the code done recently. thanks!

[2022-03-15 21:47] philippewarren commented on #256
Hello, these files are part of the pulseaudio sound server.
If the pulseaudio sound server is available on raspberry pi, you should be able to get it to compile by installing the `libpulse-dev` package or its equivalent.
I will look into clarifying this requirements and adding a way to build without the pulseaudio dependency!

[2022-03-16 15:11] LePtitMetalleux commented on #256
Indeed that was the problem. I've installed the libpulse-dev package and the installation worked.

[2022-03-16 15:54] #256 closed

[2022-03-16 16:20] LePtitMetalleux opened #258 "Source hops: Cannot open audio device hw:1,0: No such file or directory"
Hi, it's me again.

I'm using the ReSpeaker 4-Mic Array for Raspberry Pi and I tried to get informations in a file or the terminal.
So i started odas live using this command : `./odaslive -c ../config/odaslive/respeaker_4_mic_array.cfg` but I got an error :

[code]

Here is my config file :
[respeaker_4_mic_array.txt](https://github.com/introlab/odas/files/8265372/respeaker_4_mic_array.txt)

If yo

[2022-03-18 16:28] LePtitMetalleux commented on #258
Fixed using this script :

[code]

The script gives me this :

 `Input Device id  5  -  seeed-4mic-voicecard: bcm2835-i2s-ac10x-codec0 ac10x-codec0-0 (hw:4,0)`

 So I changed the config file with :

[code]

[2022-03-18 16:28] #258 closed, assigned to nobody

[2022-03-20 05:36] jenniferyennam opened #259 "Cannot find the bin folder in the code. Where do I find it?"
The binary(bin) folder is much needed during the installation of the ODAS Studio. As it is needed too during the implementation in the ODAS. Where do I find and install the bin folder for smooth installation and implementation in ODAS Studio.

[2022-03-31 13:55] #259 closed

[2022-03-31 13:57] philippewarren commented on #259
The `bin` folder should be back, although it is now in your CMAKE_BINARY_DIR and won't appear amidst your sources

[2022-04-01 07:52] DmitryP11 opened #261 "Working with pseye problem"
I work with pseye
and it can't set 48000hz unless I do this change
./src/general/interface.c:268:        sprintf(deviceName, "hw:%u,%u", card, device);
to
./src/general/interface.c:268:        sprintf(deviceName, "plughw:%u,%u", card, device);

[2022-04-04 08:16] LePtitMetalleux opened #262 "Sound Source Localization with 3 Respeaker 4 Mic array"
Hi, this is not an issue, I just need help.

I'm working on a project of sourd source localization.
I got 3 Respeaker 4 Mic Array and using ODAS I have to find the coordinates of the source sound.

I make a TCP server to receive the data from the SSL of ODAS, so I got XYZ coordinates (Between -1 and 1 ??) and E (elevation) which is, if I understood correctly the energy.

With this I manage to find

[2022-04-07 07:16] LePtitMetalleux opened #263 "Change Timestamp"
Hi, I got theses data :
`{
    "timeStamp": 520,
    "src": [
        { "x": 0.896, "y": 0.376, "z": 0.235, "E": 0.317 },
        { "x": 0.990, "y": 0.073, "z": 0.117, "E": 0.116 },
        { "x": 0.758, "y": 0.637, "z": 0.140, "E": 0.088 },
        { "x": 0.819, "y": 0.335, "z": 0.465, "E": 0.000 }
    ]
}
`
I would like to know if it's possible to change
`"timeStamp": 520,`
to
`"timeStamp": curr

[2022-04-13 16:55] DmitryP11 commented on #262
hi, I'm doing same thing as you

as I understand you need to have exact positions of your mics (same as position of mic in config file)
also maybe you will need to synchronize your mics (not yet sure),
and then you will need to matchmake detected sources of sound unless you work in a totally silent room

inc should be "inclination" angle between xy plane and angle to z

btw have you considered bes

[2022-04-15 11:56] orange2000121 commented on #211
I can execute odas on xavier, but there is no active sound source. Has anyone successfully executed it on xavier.

[2022-04-19 06:18] MarkSttc commented on #229
Same issue happened to me :C

[2022-04-19 12:59] DmitryP11 commented on #229
have you disabled this?
interface: {
            type = "file";
            path = "postfiltered.raw";
        }

        interface: {
            type = "file";
            path = "separated.raw";
        }

[2022-04-19 13:25] MarkSttc commented on #229
@DmitryP11 May I know how to disable this interface?.  Can we just change type = "undefined" and path = "blackhole"

[2022-04-20 02:32] MarkSttc commented on #229
@DmitryP11 It works fine now. Thank you so much for your help :D.

However, Is there any chance u can explain to me what happened behind this segmentation fault?.

[2022-04-20 06:46] DmitryP11 commented on #229
I think there is memory overflow in dumping raw data, but this is just a wild guess

[2022-04-23 18:36] ELELUABDULSALAM commented on #262
var az = Math.atan2(y,x) * 180 / Math.PI is use to calculate the azimut in degree

var inc = Math.acos(z/Math.sqrt(x*x+y*y+z*z)) is use to calculate the elevation

I hope this help your work

[2022-05-09 09:27] Datian996 commented on #245
@myfatemi04
hi,
I'm using a respeaker 6mic and I'm having trouble recording audio too.Aren't channels 7 and 8 used for playback, I learned from https://wiki.seeedstudio.com/ReSpeaker_6-Mic_Circular_Array_kit_for_Raspberry_Pi/))
Any help is greatly [appreciated.

[2022-05-09 09:42] VioletIsSoCute commented on #250
You might have messed up in some previous steps.
I have no idea what i'd messed up. So i kill everything and restored my pi from scratch. Fortunately, it worked.
This is not a good example of solving problem.
Hope you solved the problem more elegantly and can share with me.
Good luck!

[2022-05-09 11:46] Datian996 commented on #250
Thank you for your reply, I'm working on it....
One of the problems I encountered was that the official website of respeaker said _**The odascore will be at odas/bin/odaslive.**_ But my path is **_odas/build/bin/odaslive_**.
The installation process shows no other exceptions.
 I can only find _bin_ in the _folder build_, have you ever encountered this situation?

[2022-05-10 02:47] 308627993 commented on #241
can you help to share your solutions ?

[2022-05-18 02:28] 308627993 opened #265 "angle"

[2022-05-20 15:09] materialvision commented on #143
Any hints to how you did this in Matlab?

[2022-05-25 11:43] apcr1234 commented on #208
Hello, I have the same purpose for ODAS, did you manage to make it work? And get the filtered audio of a specific area at angles?

[2022-06-05 05:25] Gaurav37 opened #266 "Is there a tutorial/guide on odas code? or could you add more comments?"

[2022-06-08 19:39] Gaurav37 commented on #203
Hi Eric,
I am also working on a similar project. I want to get the distance of the sound source however it seems that SST does not work. It gives zero tracked sources.
How did you manage to solve this problem?

Thanks
Gaurav

[2022-07-06 18:09] jevonmao opened #267 "Is there a Python wrapper for this library"
I don't know C but I know Python. Are there any existing Python wrappers or implementations of ODAS?

[2022-07-08 18:13] doumdi commented on #267
There is no Pyhon version at the moment. However, we are working on it. @FrancoisGrondin can you give us some info on the upcoming PyOdas version ?

[2022-07-08 19:26] jevonmao commented on #267
@doumdi Thank you so much, I'm glad to hear that Python is on the roadmap. An estimate of when it will become available would be greatly appreciated, are we talking about weeks, months, or years?

[2022-07-13 18:58] dubai03nsr opened #269 "Trouble with Sound Source Separation"
Hi,

I have a ReSpeaker Mic Array with 4 mics and am trying to use ODAS to perform sound source separation, but I haven't had much success. I've tried a variety of pairs of objects, including a drill vs a compressor, and two tone generator apps. Are there any parameters I should try adjusting (for example, mode_sep, mode_pf, gain_sep, gain_pf), and if so, can you provide a description of what they

[2022-08-03 13:23] deeprobo-dev commented on #113
sudo aplay -l run this in terminal to know what is your card no and put it in odas.cfg file

[2022-08-03 13:23] deeprobo-dev commented on #238
sudo aplay -l run this in terminal to know what is your card no and put it in odas.cfg file

[2022-09-29 14:24] guelermus commented on #171
Hi,

I saw an interface called Terminal.
Would it be possible to use it with odaslive without a need for odasserver?

Best,

[2022-11-08 09:28] juaone1 opened #270 "Decibel Level"
Hi, I'm new to using ODAS, is there a way to know the decibel levels of the sound? I hope somebody can help I really need to convert the values into dB. Thanks in advance

[2022-11-16 19:30] atyshka opened #271 "Respeaker USB not working with direct capture"
I am attempting to use a Respeaker USB 4-mic array with ODAS, but I can't seem to get the config to work. The error I get is
`Source hops: Cannot set channel count: Invalid argument`
I checked the config file for the USB 4 mic array, and I was surprised to see it contained 6 channels, rather than 4. However, changing it to 4 results in the same issue. Has anyone successfully used a Respeaker USB m

[2022-11-24 02:24] longRookie commented on #271
https://raw.githubusercontent.com/respeaker/usb_4_mic_array/master/odas.cfg , maybe it's useful.

[2022-11-30 13:53] atyshka commented on #271
Apparently there are two versions of the respeaker firmware, one that outputs mono audio and another that outputs 6 channels. Installing the latter solved my issue.

[2022-11-30 13:53] #271 closed

[2022-11-30 14:24] atyshka opened #272 "Semi-static source tracking?"
I'm trying to use a Respeaker with ODAS to record a two-person conversation, with the mic directly between the two people. My challenge is that using the default tracking setup, if one person is quiet for more than a few seconds, the Kalman filter stops tracking them. I'd like two separate output channels for each side, which requires persistence in the tracking. Static sources don't seem to be wh

[2022-11-30 19:18] atyshka commented on #236
@FrancoisGrondin is PyODAS the same project as SpeechBrain? I discovered your name under that project and noticed it overlaps with some of the work on ODAS.